/* Conteudo header */
body {
    padding: 0;
    margin: 0;
    background-color: #fff; /* branco neve */
    font-family: 'Helvetica', Arial, sans-serif; /* fonte Helvetica */
    color: black;
  }
  
  header {
    background-color: #ff3300; /* vermelho */
    text-align: center;
    font-size: 1rem; /* responsivo*/
    padding: 1rem 0;
    transition: background-color 0.3s; /* Efeito de transição de cor */
    color: whitesmoke;
  }
  
  /* Conteudo main */
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85vh; /* responsivo */
  }
  
  fieldset {
    margin-right: 10px;
    padding: 40px 60px; /* responsivo */
    border: 1px solid rgba(128, 128, 128, 0.952);
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
  }
  
  input,
  select,
  button {
    outline: none;
    display: block;
    margin-top: 6px;
    border: 0.5px solid rgba(128, 128, 128, 0.952);
      width: 100%; /* Responsivo */
    padding: 10px; /* Responsivo */
  }
  
  form:hover {
    max-height: 70vh;
  }
  
  button {
    background-color: #e44d26;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%; /* Responsivo */
    padding: 10px;
    color: whitesmoke;
    border: 1px solid rgba(128, 128, 128, 0.952);
    border-radius: 8px;
    margin: 10px 0 1px; /* Responsivo */
  }
  
  button:hover {
    background-color: #ff6600; /* Cor laranja para o efeito hover */
    color: white; /* texto branco */
    font-weight: bolder;
  }
  
  /* Rodape */
  footer {
    background-color: #ff3300; /* vermelho */
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-logo ul,
  .footer-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1rem; /* responsivo */
  }
  
  .footer-social {
    margin-top: 20px;
  }
  
  .footer-social a {
    color: whitesmoke;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5rem; /* responsivo */
  }
  
  .fab {
    font-size: 1.5rem; /* responsivo */
  }
  
